<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="/assets/app/app-min.css")
body.layout
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nemo dolor, asperiores obcaecati beatae minus excepturi veniam ducimus laudantium animi voluptate nam autem saepe alias ipsum laborum est accusamus facilis?
	div.dashboard
		|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laborum dolores eaque rerum possimus at assumenda ut, ullam animi, laudantium quaerat velit, ab sint voluptate eum nesciunt praesentium repellat quas.
	div.dashboard
		|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laborum dolores eaque rerum possimus at assumenda ut, ullam animi, laudantium quaerat velit, ab sint voluptate eum nesciunt praesentium repellat quas.
	script(type="text/javascript", src="/assets/app/app-min.js")